# Environment files
.env
.env.local
.env.*
!.env.example

# Dependencies
node_modules/

# Vercel
.vercel/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
